<h1>How to Play</h1>
<p>In order to play, select one of the following options:</p>
<nav>
  <ul>
    <li><a href="/rock">Rock</a></li>
    <li><a href="/paper">Paper</a></li>
    <li><a href="/scissors">Scissors</a></li>
  </ul>
</nav>
