<h1>You selected Scissors! Great choice</h1>
<p>Now my hands are a little busy typing out all of this, so how about you choose one of the following options for me.</p>
<nav>
  <ul>
    <li><a href="/rock">Rock</a></li>
    <li><a href="/paper">Paper</a></li>
    <li><a href="/scissors">Scissors</a></li>
  </ul>
</nav>
